.selected {
    background-color: #7A97A5 !important;
    color: #FFF;
}
.heroes {
    margin: 0 0 2px 0;
    list-style-type: none;
    padding: 0;
    width: 320px;
}
.heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: 5px;
    padding: 2px 0;
    height: 36px;
    border-radius: 4px;
}
.heroes li.selected:hover {
    background-color: #5F7E8A !important;
}
.heroes li:hover {
    color: #FFF;
    background-color: #607D8B;
    left: .8em;
}
.heroes .text {
    position: relative;
    top: -3px;
}
.heroes .badge {
    display: inline-block;
    font-size: small;
    color: #FFF;
    padding: 0px 8px;
    background-color: #607D8B;
    line-height: 40px;
    position: relative;
    left: -1px;
    top: -2px;
    height: 40px;
    margin-right: 5px;
    border-radius: 4px 0 0 4px;
}

button.delete {
  float:right;
  margin: 6px 5px 0px 0px !important;
  background-color: #999 !important;
  color:#FFF;
}