<h1>My Fisrt Angular 2 App</h1>
<div>
    <p>Hello, {{currentUser.username}}!</p>
    <p [hidden] = 'hideEmail'> Your email is: <em>{{currentUser.email}}</em></p>

    <button (click)="toggleEmail()">Toggle e-mail</button>
</div>

<div>
    <input type="text" #a (keyup)="0">
    <p>Value of input is: {{a.value}}</p>
</div>

<div>
    <h3>Change e-mail:</h3>
    <input type="text" name="name" #newEmail (keyup.enter)="changeEmail(newEmail.value)">

    <button (click)="changeEmail(newEmail.value)">Change</button>
</div>
